%p#notice= notice

%div.row
  %div.col.s12.m9
    %div.card
      %div.card-image
        %img{src: "https://s3-ap-northeast-1.amazonaws.com/hassoubeat.com/(*)hackrs_logo.png"}
          %span.card-title Card Title
        %div.card-content
          %p 他の参加者を募って、(w)hackを開始します。
          %p hackerポイントを競え。
        %div.card-action
          %a{href: "#"} This is a link
  %div.col.s12.m3
    %div.card
      %div.card-image
        %img{src: "https://s3-ap-northeast-1.amazonaws.com/hassoubeat.com/(*)hackrs_logo.png"}
          %span.card-title Card Title
        %div.card-content
          %p hackerポイントランキングを確認します。
          %p (w)hackerの高みを目指せ。
        %div.card-action
          %a{href: "#"} This is a link
  %div.col.s12.m4
    %div.card
      %div.card-image
        %img{src: "https://s3-ap-northeast-1.amazonaws.com/hassoubeat.com/(*)hackrs_logo.png"}
          %span.card-title Card Title
        %div.card-content
          %p (w)の設定を変更します。
          %p admin_skillをカスタマイズして、勝利を掴め。
        %div.card-action
          %a{href: "#"} This is a link
  %div.col.s12.m8
    %div.card
      %div.card-image
        %img{src: "https://s3-ap-northeast-1.amazonaws.com/hassoubeat.com/(*)hackrs_logo.png"}
          %span.card-title Card Title
        %div.card-content
          %p hackerの設定を変更します。
          %p hacker_skillをカスタマイズして、勝利を掴め。
        %div.card-action
          %a{href: "#"} This is a link